@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  height: 100vh;
  background-color: rgb(6, 77, 98);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100%;
  padding: 0 2rem;
  display: flex;
}
.slide {
  height: 90vh;
  cursor: pointer;
  border-radius: 2rem;
  margin: 1rem;
  flex: 1;
  display: flex;
  align-items: end;
  padding-left: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 500ms ease-in-out;
}
.title {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: #fff;
  opacity: 0;
}
.slide.active {
  flex: 10;
}
.slide.active .title {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
